option_settings:
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly"
    AWS_REGION: '`{ "Ref" : "AWS::Region"}`'
    WEBCRON_TABLE: '`{ "Ref" : "WebcronTable"}`'
    WEBCRON_TOPIC: '`{ "Ref" : "WebcronTopic"}`'
    TRACK_INV_TOPIC: 'arn:aws:sns:us-east-1:419997458948:mmx-track-inv'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
  aws:autoscaling:asg:
    Cooldown: "120"
  aws:autoscaling:trigger:
    Unit: "Percent"
    Period: "1"
    BreachDuration: "2"
    UpperThreshold: "75"
    LowerThreshold: "30"
    MeasureName: "CPUUtilization"
